{
  "presets": [
    [
      "@nx/react/babel",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-transform-async-to-promises",
      {
        "externalHelpers": true
      }
    ]
  ]
}
